@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 5.5px);
  --radius-md: calc(var(--radius) - 4px);
  --radius-lg: calc(var(--radius) - 2px);
  --radius-xl: calc(var(--radius));
  --radius-xs: calc(var(--radius) - 7px);
  --color-surface-50: var(--color-contrast-50);
  --color-surface-100: var(--color-contrast-100);
  --color-surface-200: var(--color-contrast-200);
  --color-surface-300: var(--color-contrast-300);
  --color-surface-400: var(--color-contrast-400);
  --color-surface-500: var(--color-contrast-500);
  --color-surface-600: var(--color-contrast-600);
  --color-surface-700: var(--color-contrast-700);
  --color-surface-800: var(--color-contrast-800);
  --color-surface-900: var(--color-contrast-900);
  --color-surface-950: var(--color-contrast-950);
  --color-primary-50: var(--color-contrast-50);
  --color-primary-100: var(--color-contrast-100);
  --color-primary-200: var(--color-contrast-200);
  --color-primary-300: var(--color-contrast-300);
  --color-primary-400: var(--color-contrast-400);
  --color-primary-500: var(--color-contrast-500);
  --color-primary-600: var(--color-contrast-600);
  --color-primary-700: var(--color-contrast-700);
  --color-primary-800: var(--color-contrast-800);
  --color-primary-900: var(--color-contrast-900);
  --color-primary-950: var(--color-contrast-950);
  --color-contrast-950: var(--contrast-950);
  --color-contrast-900: var(--contrast-900);
  --color-contrast-800: var(--contrast-800);
  --color-contrast-700: var(--contrast-700);
  --color-contrast-600: var(--contrast-600);
  --color-contrast-500: var(--contrast-500);
  --color-contrast-400: var(--contrast-400);
  --color-contrast-300: var(--contrast-300);
  --color-contrast-200: var(--contrast-200);
  --color-contrast-100: var(--contrast-100);
  --color-contrast-50: var(--contrast-50);
  --ring: var(--ring);
  --input: var(--input);
  --border: var(--border);
  --destructive: var(--destructive);
  --accent-foreground: var(--accent-foreground);
  --accent: var(--accent);
  --primary-foreground: var(--primary-foreground);
  --primary: var(--primary);
  --popover-foreground: var(--popover-foreground);
  --popover: var(--popover);
  --card-foreground: var(--card-foreground);
  --card: var(--card);
  --muted-foreground: var(--muted-foreground);
  --muted: var(--muted);
  --foreground: var(--foreground);
  --background: var(--background);
}

:root {
  --radius: 0.625rem;
  --background: white;
  --foreground: var(--color-surface-950);
  --card: var(--color-surface-200);
  --card-foreground: var(--color-surface-900);
  --popover: var(--color-surface-50);
  --popover-foreground: var(--color-surface-700);
  --primary: var(--color-primary-950);
  --primary-foreground: var(--color-white);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: var(--color-surface-100);
  --muted-foreground: var(--color-surface-600);
  --accent: var(--color-primary-700);
  --accent-foreground: var(--color-white);
  --destructive: var(--color-red-500);
  --border: var(--color-surface-300);
  --input: var(--color-surface-100);
  --ring: var(--color-primary-950);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
  --contrast-50: #fafafa;
  --contrast-100: #f2f2f2;
  --contrast-200: #e8e8e8;
  --contrast-300: #d1d1d1;
  --contrast-400: #939393;
  --contrast-500: #7f7f7f;
  --contrast-600: #4e4e4e;
  --contrast-700: #2b2b2b;
  --contrast-800: #1a1a1a;
  --contrast-900: #121212;
  --contrast-950: #0a0a0a;
}

.dark {
  --background: black;
  --foreground: var(--color-surface-50);
  --card: var(--color-surface-800);
  --card-foreground: var(--color-surface-100);
  --popover: var(--color-surface-800);
  --popover-foreground: var(--color-surface-300);
  --primary: var(--color-primary-50);
  --primary-foreground: var(--color-black);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: var(--color-surface-900);
  --muted-foreground: var(--color-surface-400);
  --accent: var(--color-primary-300);
  --accent-foreground: var(--color-black);
  --destructive: var(--color-red-500);
  --border: var(--color-surface-700);
  --input: var(--color-surface-900);
  --ring: var(--color-primary-50);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
